* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* For Chrome, Edge, and Safari */
.scrollbar::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
.scrollbar-hidden {
  scrollbar-width: none;
}

/* Internet Explorer and legacy Edge */
.scrollbar-hidden {
  -ms-overflow-style: none;
}
